/*
 * override default material design styles  
 */

.mat-tab-label{
    opacity: 1.0!important;
}

.mat-tab-label-active{
    color: mat-color($primary);
    background-color: mat-color($primary,50);
    font-weight: bold;
    opacity: 1.0!important;
}

.mat-sidenav-container, .mat-drawer-container, .mat-drawer {
    background-color: whitesmoke;
}

.mat-expansion-panel-header-title {
  color: mat-color($primary);
}

.mat-button-toggle-label{
    color: mat-color($foreground, text);
}

.mat-button-toggle-checked{
    background-color: mat-color($accent,100);
}

.mat-list-item-active{
    color: mat-color($primary)!important;
    background-color: mat-color($primary,50)!important;
}

mat-dialog-actions {
    
}