
/* td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
    border-bottom: none;
} */
 table {
     width:100%;
 }

 .mat-column-name {
    width: 400px
 }

.mat-column-dataCenter {
    width: 100px
 }

 .mat-column-patchingLevel {
    width: 100px
 }

 .mat-column-action {
    width: 250px
 }
 
 .mat-column-scheduledWeek {
    width: 100px
 }

 .mat-column-schedule {
    width: 300x
 }
