




<form #configForm="ngForm" novalidate class="full-width" *ngIf="showForm" >
<div fxLayout="row" fxLayoutAlign="left start" fxLayoutGap="10px"  
    [style.height.px]="componentHeight" style="width:60%;padding-top:40px;margin-left:auto;margin-right:auto">
  <div fxFlex="30%">
    <ss-ad-user-select [ldapFilter]="filter"
                        [selectedUser]="user"
                        (selectionChange)="UserSelected($event)"
                        (afterLoaded)="UserListLoaded($event)">
    </ss-ad-user-select>
</div>
<div fxFlex >
  <mat-card >
       <mat-card-title>Password Manager</mat-card-title>
       <label *ngIf="user.userId==''"><=== Select a user account from the list</label>
       <mat-card-content *ngIf="user.userId!=''"> 
           <div fxLayout.gt-md="row" fxLayout.lt-lg="column"
               fxLayoutAlign="left start" 
               fxLayoutGap="24px" class="full-width">
               <div fxFlex="grow">
                  <mat-card>
                     <mat-card-content>
                        <label *ngIf="!user.enabled" class="color-warn">
                            Account is currently DISABLED <br>
                        </label>
                        <label *ngIf="user.enabled && isExpired(user)" class="color-warn">
                            Account password has EXPIRED <br>
                        </label>
                       
                       <label *ngIf="user.enabled && user.lockedOut" class="color-warn">
                           Account is currently LOCKED OUT <br>
                       </label>
                       <mat-form-field>
                         <input matInput type="text"
                                         name="newpwd" 
                                         id="newpwd"
                                         readonly="true" 
                                         [value]="adPwd.password"
                                         placeholder="Generated Password">
                       </mat-form-field>
                       <br>
                       <br>
                       <mat-form-field hintLabel="(local browser time)">
                         <input matInput type="text"
                                         name="pwdExpires" 
                                         readonly="true" 
                                         [value]="getExpirationDate()"
                                         placeholder="Password Expires"
                                         >
                       </mat-form-field>
                       <br>
                     </mat-card-content>
                   </mat-card>
               </div>
               <div fxFlex="none">
                   <div>
                      <button mat-button class="full-width" 
                                    [disabled]="(!user.enabled) ||  (!user.lockedOut) || ( (isExpired(user)) && (user.lockedOut))" 
                                        color="accent"
                                        (click)="onUnlockAccount()"
                                        >
                          Unlock User Account
                      </button><br>
                      <button mat-button class="full-width" [disabled]="(!user.enabled) || (isExpired(user))"
                                          (click)="onExpireAccountNow()"
                                          color="accent">
                          Expire Password Now 
                      </button><br>
                      <br>
                   </div>
                   <br>
                   <br>
                   <button mat-raised-button class="full-width"
                                               [disabled]="(!user.enabled)" 
                                                type="submit" 
                                                (click)="onGeneratePassword()"
                                                color="primary">
                          Generate New Password
                      </button>
               </div>
          </div>
       </mat-card-content>
   </mat-card>
   
</div>
</div>
</form>
